.game,
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background: rgb(171, 221, 229);
  background: linear-gradient(
    180deg,
    rgba(171, 221, 229, 1) 1%,
    rgba(171, 181, 181, 0.9475140397956058) 61%
  );
}
.start-screen-div {
  margin-top: 6%;
  position: absolute;
  width: 500px;
  left: 50%;
  transform: translate(-50%);
}

.butonStart {
  position: relative;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5em 2.5em;
  border-radius: 15px;
  left: 50px;
  text-align: center;
}
.butonStart:hover {
  color: whitesmoke;
  background-color: black;
  padding: 0.7em 2.6em;
  box-shadow: 2px 1px 15px 16px #fefdff;
}

@media (max-width: 450px) {
  .start-screen-div {
    position: absolute;
  }
  .startScreenImg {
    width: 350px;
    position: relative;
  }
  .butonStart {
    font-size: 1.5em;
  }
}

.hidden {
  display: none;
}

.gamescreen {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("./images/tCz0AX4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.spaceship {
  background-image: url("./images/ship__r1466271641.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 30vh;
  display: inline-block;
  outline: none !important;
  border: none !important;
}

@media (max-width: 1200px) {
  .spaceship {
    width: 17%;
  }
}
@media (max-width: 800px) {
  .spaceship {
    width: 22%;
  }
}
@media (max-width: 550px) {
  .spaceship {
    width: 24%;
    height: 11%;
  }
}
